<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Poke US3 Manager</h1>
  <p>ポケモン種族統一プレイヤーのためのパーティ管理・交流サービス</p>
  <div>
    <p>メニュー</p>
    <p><%= link_to '新規ユーザー登録', sign_up_path %></p>
  </div>
</div>