<h1>Poke US3 Manager</h1>
<p>ポケモン種族統一プレイヤーのためのパーティ管理・交流サービス</p>
<div>
  <p>メニュー</p>
  <ul>
    <li>ログイン</li>
    <li>新規ユーザー登録</li>
    <li><%= link_to 'このサービスについて', static_pages_about_path %></li>
    <li><%= link_to 'このサービスの利用方法', static_pages_help_path %></li>
  </ul>
</div>
<div>Copyright 2018 Momoshiro all rights reserved.</div>