<h1>Poke US3 Manager</h1>
<p>ポケモン種族統一プレイヤーのためのパーティ管理・交流サービス</p>
<div>
  <p>メニュー</p>
  <ul>
    <li>ログイン</li>
    <li>新規ユーザー登録</li>
    <li>このサービスについて</li>
  </ul>
</div>
<div>Copyright 2018 Momoshiro all rights reserved.</div>