<h1><%= @user.name %>さんのページ</h1>
<div>
  <p>メニュー</p>
  <ul>
    <li>パーティの追加</li>
    <li>プロフィール編集</li>
    <li>ログアウト</li>
  </ul>
</div>
<div>
  <p>所持している種族統一パーティ一覧</p>
  <ul>
    <li>ロズレイド</li>
    <li>ユキメノコ</li>
    <li>アブソル</li>
  </ul>
</div>
