<h1><%= @user.name %>さんのページ</h1>
<div>
  <p>
    <%= link_to '新しい種族グループを作成', new_species_group_path, class: 'btn' %>
  </p>
</div>
<div class="col-md-8">
  <p>所持している種族統一パーティ一覧</p>
  <% if @user.species_groups.any? %>
    <ul class="species_groups">
      <%= render @species_groups %>
    </ul>
  <% end %>
</div>
