@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-top: 10px;
  }
}

/* typograhy */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    padding-left: 150px;
    float: left;
  }
  ul {
    padding-right: 150px;
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

select {
  height: 30px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* button */

.btn {
  background-color: #00CC00;
  text-decoration: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  color: #ffffff;
  &.new-species-group-btn {
    width: 20%;
  }
  &.new-monster-btn {
    width: 20%;
  }
  &.submit-btn {
    width: 8%;
  }
  &:hover {
    background-color: #009900;
    color: #fff;
  }
}

/* font_awesome */

.fa {
  padding-left: 5px;
}
.fa-green {
  color: #00BB00;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* species_groups */

.species_groups {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .species_group {
    margin-top: 5em;
    padding-top: 0;
  }
  .number_of_trained .number_of_untrained {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

.species_groups_description {
  margin-top: 30px;
}

/* monsters */

caption {
  text-align: center;
  font-size: 20px;
}

.monsters-header {
  margin-bottom: 50px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  background-color: #eeeeee;
  tr {
    height: 40px;
    th {
      text-align: center;
    }
  }
}

.monsters {
  tr {
    height: 40px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    &:hover {
      background-color: #F3FFD8;
    }
    td {
      text-align: center;
      .link {
        text-decoration: none;
      }
    }
  }
}

/* monster search */

.search-move {
  width: 22%;
  margin-left: 2%;
}

.submit {
  text-align: center;
}

/* monster show */

.species-info {
  overflow: hidden;
}

.species-info .species-name {
  float: left;
  vertical-align: middle;
  height: 25px;
  line-height: 25px;
}

p[class^="type-area"] {
  float: left;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 23px;
  width: 65px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 1px;
  margin-left: 4px;
}

.species-info .type-area-1 {
  // ノーマル
  background-color: #B8B795;
}
.species-info .type-area-2 {
  // ほのお
  background-color: #DC5949;
}
.species-info .type-area-3 {
  // みず
  background-color: #73B8E9;
}
.species-info .type-area-4 {
  // でんき
  background-color: #F2D479;
}
.species-info .type-area-5 {
  // くさ
  background-color: #95C779;
}
.species-info .type-area-6 {
  // こおり
  background-color: #B8E7E7;
}
.species-info .type-area-7 {
  // かくとう
  background-color: #87352F;
}
.species-info .type-area-8 {
  // どく
  background-color: #9B5FA7;
}
.species-info .type-area-9 {
  // じめん
  background-color: #E3CB8F;
}
.species-info .type-area-10 {
  // ひこう
  background-color: #B2BCEA;
}
.species-info .type-area-11 {
  // エスパー
  background-color: #E46B9B;
}
.species-info .type-area-12 {
  // むし
  background-color: #BDB85F;
}
.species-info .type-area-13 {
  // いわ
  background-color: #C2A75F;
}
.species-info .type-area-14 {
  // ゴースト
  background-color: #6C6CA1;
}
.species-info .type-area-15 {
  // ドラゴン
  background-color: #6687E3;
}
.species-info .type-area-16 {
  // あく
  background-color: #6C594F;
}
.species-info .type-area-17 {
  // はがね
  background-color: #C7D4E0;
}
.species-info .type-area-18 {
  // フェアリー
  background-color: #FA90BA;
}

.basic-info th, td {
  text-align: center;
  padding: 2px 3px;
}

.move-info th, td {
  text-align: center;
  padding: 2px 3px;
}
.status-info th, td {
  text-align: center;
  padding: 2px 3px;
}
.memo-info th, td {
  text-align: center;
  padding: 2px 3px;
}

