<footer class="footer">
  <small>
    Copyright 2018 Momoshiro all rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to 'トップ', root_path %></li>
      <li><%= link_to '種族統一とは', about_path %></li>
      <li><%= link_to 'このサービスの利用方法', help_path %></li>
    </ul>
  </nav>
</footer>
